<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}




.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
    


}

.logo{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.navbar>a{
    font-size: 18px;
    color: rgb(5, 0, 10);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
    
    
}


.navbar a:hover,
.navbar a.active {
    color: rgb(179, 178, 178);
    
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 16px;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    
      
    
}

/* cards */

.first-container{
   background-color: rgb(209, 209, 212);
   width: 500px;
   padding-bottom: 20px;
   padding-top: 10px;
   border-radius: 12px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.first-container h1{
    font-size: 25px;
    padding-left: 90px;
    text-decoration: underline;
    align-items: center;

    
}

.first-container .first-t{
    padding-left: 20px;
    padding-top: 50px;
    font-size: small;
    
}
.first-container .t1{
    font-size: 20px;
}


.first-container .second-t{
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: small;
    
    

}

.first-container .t2{
    font-size: 20px;
}

.first-container .third-t{
    padding-left: 20px;
    font-size: small;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    

}

.first-container .t3{
    font-size: 20px;
}



.first-container .t4{
    font-size: 20px;

}

.first-container .forth-t{
    padding-left: 20px;
    padding-top: 0px;
    font-size: small;
    
}














=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}




.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
    


}

.logo{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.navbar>a{
    font-size: 18px;
    color: rgb(5, 0, 10);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
    
    
}


.navbar a:hover,
.navbar a.active {
    color: rgb(179, 178, 178);
    
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 16px;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    
      
    
}

/* cards */

.first-container{
   background-color: rgb(209, 209, 212);
   width: 500px;
   padding-bottom: 20px;
   padding-top: 10px;
   border-radius: 12px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.first-container h1{
    font-size: 25px;
    padding-left: 90px;
    text-decoration: underline;
    align-items: center;

    
}

.first-container .first-t{
    padding-left: 20px;
    padding-top: 50px;
    font-size: small;
    
}
.first-container .t1{
    font-size: 20px;
}


.first-container .second-t{
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: small;
    
    

}

.first-container .t2{
    font-size: 20px;
}

.first-container .third-t{
    padding-left: 20px;
    font-size: small;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    

}

.first-container .t3{
    font-size: 20px;
}



.first-container .t4{
    font-size: 20px;

}

.first-container .forth-t{
    padding-left: 20px;
    padding-top: 0px;
    font-size: small;
    
}














>>>>>>> c9ee861 (Commit Aba contatos adicionada)
