@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 3, 5);




}
 
html{
    scroll-behavior: smooth;
}


/*menu cabeçalho*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
    


}

.logo{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.navbar>a{
    font-size: 18px;
    color: rgb(5, 0, 10);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
    
    
}

/*desativado*/
.navbar a:hover,
.navbar a.activ {
    color: rgb(243, 214, 83);
    
}

/*seçao da landing page*/

.home{
    height: 100vh;
    background: url(assets/img.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    padding: 0 10%;



}

/*container do conteudo da landing page*/

.home-content{
     
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(2, 2, 2);
}

.home-content p{
    font-size: 16px;
    margin: 50px 0 40px;

}

/*container dos botoes de whatsapp e insta*/


.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    padding-right: 20px;
    
}

/*botoes contate e saiba mais*/

.btn-box a {
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid black;
    border-radius: 8px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    


}

/*icones de instagram e whatsapp*/

.home-sci{
    position: absolute;
    bottom: 40PX;
    width: 170PX;
    display: flex;
    justify-content: space-between;

}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(226, 1, 95);
    text-decoration: none;


}



/*section 2 contatos*/



*{
    font-family: Poppins;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*pagina 2*/

.page-2{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100vh;
    padding-right: 200px;
    background: url(assets/img.jpg);
    
    
    
    
}

/*texto da pagina 2*/

.main-text{
    padding-right: 300px;
    justify-content: left;
    flex-direction: row;
    font-size: 50px;
}


/*container dos contatos*/

#sec-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 45px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    
}

/*titulo do container (contato)*/
 
.contact{
    padding-right: 20px;
    font-weight: 500;
    margin-top: 5px;
    padding-bottom: 10px;

}

/*formulario*/

#sec-2 form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


/*texto acima das caixas de texto*/

form>label{
    font-weight: 500;
    margin-bottom: 5px;
    
    
}

/*caixas de resposta email e nome*/

form>input{
    padding-bottom: 15px;
    outline: none;
    margin-bottom: 40px;
    font-size: 15px;
    transition: all 0.5s;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    
    
  
}

/*efeito das caixas de resposta*/


form input:focus{
    border-radius: 10px;
    

}

/* area de digite sua mensagem*/

form>textarea{
    padding: 30px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    

}


form>textarea:focus{
    border-radius: 10px;
    
}

/*area do botao*/

form>button{
    padding: 15px;
    cursor: pointer;
    font-size: 15px;
    background: transparent;
    border: 2px solid ;
    border-radius: 20px;
    transition: all 0.5s;
    margin-bottom: 10px;
    
}

form>button:hover{
    background: rgb(236, 235, 235);
    border-radius: 10px;
    color: black;

}

/*seçao 3*/


#section-3{
    height: 100vh;
    width: 100%;
    background-color: rgb(207, 206, 206);
    
}

/*container dos textos*/

.container-3 {
     width: 100%;
     height: 100%;
     display: flex;
     padding-top: 100px;
     padding-left: 400px;
     
     
     
     

}

/*texto fora da caixa amarela*/

.element-1 {
    background-color: transparent;
    width: 400px;
    height: 500px;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
    margin-right: 150px;
    
    

}

.element-1 h1{
    font-size: 35px;
    font-weight: 700;
}

.element-1 h2 {
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
}


/*texto da caixa amarela*/


.element-2 {
    background-color: rgb(248, 247, 154);
    width: 700px;
    height: 550px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    border: 2px  transparent  solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 70px;
}

.element-2 h1 {
    font-size: 35px;
    font-weight: 700;
    
}



.element-2 h2 {
    font-weight: 500;
    font-size: 23px;
    margin-top: 20px;

}

/*botao de agende ja*/

.btn-3{
    width: 200px;
    height: 45px;
    border-radius: 15px;
    margin-left: 60px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}

.btn-3>a {
    text-decoration: none;
    font-size: 18px;
    color: black;

}

.btn-3:hover {
    background-color: rgb(216, 245, 159);
    transition: all 0.5s;
}

/*seçao 4 - localizaçao*/

#sec-4 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 5em;
    background: url(assets/img.jpg);
    
    
    

}

/*container somente texto da pagina de localizaçao*/

#sec-4 > .container-maps h1 {
    font-size: 45px;
    font-weight: 800;

    
    
   
}

#sec-4 > .container-maps p {
    font-weight: 500;
    font-size: 15px;
    padding-top: 20px;
}

/*personaliaçao do mapa*/

iframe {
    border-radius: 10px;
    filter: invert(100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*seçao do footer do site*/


footer{
    background-color: black;
    height: 30vh;
}

/*container do footer*/

.div-container {
    
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    display: flex;
    width: 75%;
    height: 100%;
    margin-left: 250px;
    
}

/*cor do texto do footer*/

.text-footer {
    color: aliceblue;

}


@media screen and (max-width: 1024px){

    /*cabeçalho*/

    .navbar{
        display: none;


    }

    .logo {
        padding-left: 50px;

    }
    


    /*landing page*/

    .home {
        background-image: none; 
        
        

    }

    .home h1{
        
        margin-bottom: 0px;
        height: 200px;
        padding-top: 60px;
        
        
    }

    .home h3{
         font-size: 25px;

    }


    /*seçao da homme page*/

    .home{
        flex-direction: column;
    }

    /*seçao dos contatos*/

    .page-2 {
        flex-direction: column;
        padding-left: 200px;
        height: 120vh;
        

    }



    .main-text {
        font-size: 35px;
        margin-bottom: 120px;
        padding-left: 300px;
        margin-top: 15px;
        margin-bottom: 35px;


        
    }

    

    #sec-2 {
        width: 300px;
        padding-bottom: 100px;
        m
        
    }



    /*seçao sobre mim*/

    #section-3{
        height: 100vh;
        
    }

    .container-3 {
        
        padding-left: 20px;
        width: 300px;
        height: 200px;
        width: 100%;
        height: 100%;
        padding-right: 50px;
        padding-top: 23px;
        

        

 
    }


    .element-2 {
        
        margin-top: 20px;
        height: 600px;
        
    }

    .who{
        
        padding-top: 100px;
        
    }

    .container-3 h1{

        font-size: 30px;
        
    }







    .container-3 h2{
        font-size: 15px;
        margin-top: 10px;




    }


    button {
        padding-right: 10px;
        
          
    }



    button > a {
        margin-left: 15px;
        
        
        
    }



    

    /*SEÇAO LOCALIZAÇAO*/

    iframe {
        width: 300px;
        height: 250px;
    }

    .container-maps>h1 {
        padding-left: 50px;
    }

    .container-maps>p {
        padding-left: 15px;

    }

    
    #sec-4 {
        flex-direction: column;
    }

    /*FOOTER*/



    footer{
        height: 25vh;



    }

    .div-container{
        
        margin-left: 0px;
        width: 100%;
        gap: 20px;
        

    }

    
    .div-container img{
        width: 150px;
        height: 150px;
        margin-left: 10px;
    }



    
    



}


    









