@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 3, 5);




}
 
html{
    scroll-behavior: smooth;
}


/*menu cabeçalho*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
    


}

.logo{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.navbar>a{
    font-size: 18px;
    color: rgb(5, 0, 10);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
    
    
}

/*desativado*/
.navbar a:hover,
.navbar a.activ {
    color: rgb(243, 214, 83);
    
}

/*seçao da landing page*/

.home{
    height: 100vh;
    background: url(assets/img.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    padding: 0 10%;



}

/*container do conteudo da landing page*/

.home-content{
     
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(2, 2, 2);
}

.home-content p{
    font-size: 16px;
    margin: 50px 0 40px;

}

/*container dos botoes de whatsapp e insta*/


.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    padding-right: 20px;
    
}

/*botoes contate e saiba mais*/

.btn-box a {
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid black;
    border-radius: 8px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    


}

/*icones de instagram e whatsapp*/

.home-sci{
    position: absolute;
    bottom: 40PX;
    width: 170PX;
    display: flex;
    justify-content: space-between;

}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(226, 1, 95);
    text-decoration: none;


}

/*seçao produtos*/

#products{
    background: url(assets/gradiente2.jpeg);
    height: 60vh;
    background-size: cover;
}

.container-products{
    display: flex;
    
    height: 100%;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.card-product{
    border-radius: 20px;
    width: 400px;
    text-align: center;
    height: 500px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: rgb(252, 252, 252);
    

}

.card-product button {
    border-radius: 20px;
    margin-top: 20px;
    height: 35px;
    width: 300px;
    background-color: transparent;
    font-size: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}

.card-product h3{
    margin-top: 40px;
    font-weight: 600;
}

.card-product ul{
    list-style-type: none;
    padding-top: 20px;
}


.card-product ul li {
    padding-top: 5px;
}




/*section 2 contatos*/





/*contatos*/

#contacts-sec {
    height: 80vh;
    width: 100%;
     
}

.contact-container {
    
    height: 100%;
    width: 100%;
    display: flex;
    gap: 300px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.card-content {
    
    border-radius: 20px;
    height: 560px;
    width: 700px;
    
    
}

.box-1 {
    align-items: center;
    margin-top: 150px;
    font-size: 40px;
    
}

.card-content form {
    
    margin-top: 20px;
    height: 540px;
    border-radius: 20px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.tittle-box {
    
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    
}

.card-content label {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
}

.card-content input {
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.card-content .h3-text {
    display: flex;
    font-weight: 500;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;


}

.card-content textarea {
    width: 350px;
    margin-left: 2px;
    height: 150px;
    border-radius: 10px;
    border: 0.5px solid gray;
    padding-left: 10px;
    padding-top: 10px;
}

.card-content button {
    width: 350px;
    border-radius: 20px;
    height: 40px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 10px;
}





/*seçao 3*/

#section-3 {
    height: 60vh;
    
    
}

.container-cards{
    
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 200px;
    width: 100%;
    padding-top: 20px;

}

.cards-3{
    
    width: 300px;
    height: 500px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 20px;
     
}

.cards-3 h2{
    padding-top: 20px;
}

.cards-3 p{
    padding-top: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px ;
}



/*sobre mim*/

#about-me {
    height: 60vh;
    background: url(assets/gradiente2.jpeg);
    background-size: cover;
    
    
}

.container-about{
    
    width: 100%;
    height: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-left: 100px;
    
    
}


.content-about{
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    
    width: 100%px;
    border-radius: 30px;

}


.container-about h3 {
    font-size: 15px;
    font-weight: 500;
    padding-top: 30px;
    
    
}

.container-about h1{
    padding-top: 100px;
}



.container-about img {
    
    height: 500px;
    
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: black;
    border-radius: 20px;
    
    
}


/*seçao 4 - localizaçao*/

#sec-4 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 5em;
    background: url(assets/img.jpg);
    
    
    

}

/*container somente texto da pagina de localizaçao*/

#sec-4 > .container-maps h1 {
    font-size: 45px;
    font-weight: 800;

    
    
   
}

#sec-4 > .container-maps p {
    font-weight: 500;
    font-size: 15px;
    padding-top: 20px;
}

/*personaliaçao do mapa*/

iframe {
    border-radius: 10px;
    filter: invert(100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*seçao do footer do site*/


footer{
    background-color: black;
    height: 30vh;
}

/*container do footer*/

.div-container {
    
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 500px;
    
}

/*cor do texto do footer*/

.footer-content{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}

.footer-content  img{
    height: 200px;
    width: 200px;
    border-radius: 20px;

}

.footer-content p{
    color: white;
    margin-top: 40px;
}

@media screen and (max-width: 1440px){
    /*resoluçao notebooks*/
    
    
    
        /*cabeçalho*/
    
        
    
        .logo {
            padding-left: 50px;
    
        }
        
    
    
        /*landing page*/
    
        .home {
            background-image: url(assets/img.jpg) ; 
            width: 100%;
            flex-direction: row;
             
    
        }
    
        .home h1{
            
            margin-bottom: 0px;
            height: 200px;
            padding-top: 60px;
            color: rgb(2, 2, 2);
    
            
            
        }
    
        .home h3{
             font-size: 25px;
             color: rgb(5, 5, 5);
    
        }
    
        .home-content {
            
            margin-right: 600px;
            margin-top: 150px;
            text-align: center;
            width: 90%;
            
        }
    
        .home-content p{
            color: rgb(0, 0, 0);
            
        }
    
        .btn-box a{
            border-color: rgb(0, 0, 0);
            color: rgb(0, 0, 0);
        }
    
        
        
        .home-sci a {
            border-color: rgb(3, 3, 3);
            margin-bottom: 150px;
            margin-right: 50px
        }
    
        .home-sci a i {
            color: rgb(0, 0, 0);
            border-color: rgb(5, 0, 0);
        }
    
    
        /*seçao produtos*/
    
        #products {
            height: 80vh;
            
            
            
            
        }
    
        .container-products {
            flex-direction: row;
            
            
            
         
        }
    
        .card-product {
            width: 350px;
            margin-top: 300px;
            
        }
    
        /*seçao especialidades*/
    
        #section-3{
            height: 100vh;
            
            
    
    
    
        }
    
    
    
        .container-cards {
            flex-direction: row;
            gap: 100px;
            
            
            
        }
    
    
    
    
        /*seçao da homme page*/
    
        .home{
            flex-direction: column;
    
        }
    
        /*seçao dos contatos*/
    
     #contacts-sec {
        height: 100vh;
        margin-top: 200px;
        
        
     }
    
     .contact-container {
        flex-direction: row;
        gap: 20px;
        gap: 200px;
        
        
        
        
        
     }
    
     .card-content {
        width: 390px;
        padding-right: 10px;
        
        
     }
    
    
    
        
    
        /*seçao sobre mim*/
    
        #about-me {
            height: 100vh;
           
        }
    
        .container-about {
            flex-direction: row;
            justify-content: center;
            padding-left: 45px;
            background-color: re;
            gap: 0px;
            
    
            
            
    
        }
    
        .content-about {
            width: 600px;
            height: 450px;
            background-color: blu;
            margin-right: 200px;
           
            margin-top: 30px;
            
            
        }
    
        .content-about-1 {
            
            width: 800px;
            height: 400px;
            padding-left: 20px;
            margin-right: 200px;
            padding-top: 20px;
            margin-top: 100px;
            font-size: x-large;
        }
    
        .content-about img {
            height: 550px;
            width: 400px;
            margin-left: 100px;
            margin-top: 30px;
        }
    
        .content-about h1 {
            justify-content: center;
            padding-top: 20px;
            
            
        }
    
    
        
    
    
        
    
        /*SEÇAO LOCALIZAÇAO*/
    
        iframe {
            width: 800px;
            height: 400px;
        }
    
        .container-maps>h1 {
            padding-left: ;
            text-align: center;
        }
    
        .container-maps>p {
            padding-left: 15px;
            align-items: center;
    
        }
    
        
        #sec-4 {
            flex-direction: column;
        }
    
        /*FOOTER*/
    
    .div-container {
        justify-items: center;
        justify-content: center;
        gap: 200pxpx;
    
    }
    
    .footer-content {
        
    }
        
    
    
    } 
    


@media screen and (max-width: 567px){
/*formato celulares*/


    /*cabeçalho*/

    .navbar{
        display: none;


    }

    .logo {
        padding-left: 50px;

    }
    


    /*landing page*/

    .home {
        background-image: url(assets/img.jpg) ; 
        background-position: -550px;
        flex-direction: column;
        width: 567px;
        height: 100vh;

    }

    .home-content {
        
        align-content: center;
        justify-content: center;
        justify-items: center;
        width: 300px;
        margin-left: 350px;
        
        
    }

    .home h1{
        
        margin-bottom: 0px;
        height: 200px;
        padding-top: 60px;
        color: white;
        
        
    }

    .home h3{
         font-size: 25px;
         color: white;

    }

    .home-content p{
        color: rgb(240, 240, 240);
        
    }

    .btn-box a{
        border-color: rgb(204, 203, 203);
        color: rgb(230, 227, 227);
    }
    
    .home-sci a {
        border-color: white;
    }

    .home-sci a i {
        color: white;
        border-color: white;
    }


    /*seçao produtos*/

    #products {
        height: 200vh;
        
    }

    .container-products {
        flex-direction: column;
        
    }

    .card-product {
     width: 350px;
     
    }

    /*seçao especialidades*/

    #section-3{
        height: 250vh;
        padding-left: 40px;
        background-color: ;
    }

    .container-cards {
        flex-direction: column;
        gap: 100px;
        margin-left: 23px;
        
    }




    /*seçao da homme page*/

    .home{
        flex-direction: column;

    }

    /*seçao dos contatos*/

 #contacts-sec {
    height: 180vh;
    margin-top: 200px;
    
    
 }

 .contact-container {
    flex-direction: column;
    gap: 20px;
    
    
    
    
    
 }

 .card-content {
    width: 390px;
    padding-right: 10px;
    
    
 }



    

    /*seçao sobre mim*/

    #about-me {
        height: 120vh;
       
    }

    .content-about-1 {
        
        width: 400px;
        margin-right: 300px;
        padding-right: 20px;
        
    }

    .container-about {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding-left: 45px;
        
        
        

    }

    .content-about {
        
        width: 300px;
        padding-bottom: 30px;
        height: 450px;
        padding-right: ;
        
        margin-right: 1000px;
        
    }

    .content-about img {
        height: 100%;
        width: 100%;
        background-color: black;
        
    }

    .content-about h1 {
        justify-content: center;
        padding-top: 20px;
        
        
    }


    


    

    /*SEÇAO LOCALIZAÇAO*/

    iframe {
        width: 300px;
        height: 250px;
    }

    .container-maps>h1 {
        align-items: center;
    }

    .container-maps>p {
        padding-left: 15px;

    }

    
    #sec-4 {
        flex-direction: column;
    }

    /*FOOTER*/

.div-container {
    justify-items: center;
    justify-content: center;
    gap: 0px;

}




.footer-content {
    
}
    


}











